*{
	user-select: none;
	user-zoom: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.addcustomer{
	border-right: 5px dotted red;
}
#home{
	padding-top: 80px;
	min-height: 100vh;
	background: linear-gradient(200deg, rgb(212, 168, 168), rgb(176, 230, 176));
}
#about{
	padding-top: 80px;
	min-height: 100vh;
	background-color: rgba(128, 133, 135, 0.29);
} #contact{
	padding-top: 80px;
	min-height: 100vh;
}